*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.btn-1{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    /* margin-left: 300px; */
    margin: 36px 100px;
    margin-right: 120px;

}

nav{
    max-width: 1332px;
    width: 92%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    

}

nav .menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px;
    margin-left: auto;

}

nav .menu a{
    text-decoration: none;
    color: black;
    text-align: center;

}

.logo{
    display: flex;
}

/* img{
    margin-right: 345px;
} */

.banner-image{
    display: flex;
    background-size: 80%;
    position: relative;
    background-repeat: no-repeat;
   height: 666px;
   width: 750px;
}

 .banner-container {
    position: absolute;
    text-align: center;
    max-height: 600px;
}

#hero{
    position: relative;
}

.main{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;

}
.section{
    color: #30B868;
    font-size: 72px;
    font-weight: bold;
}

.banner-container p{
    font-size: 15px;
    color: #FFFFFF;
    font-size: small;

}

.button{
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 1000px;
    padding: 8px 12px 8px 34px;
    font-size: 16;
    margin-top: 154px;
    cursor: pointer;
    

}
.banner-container{
    align-items: center;
}
#hero .banner-container{
    background-image: url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
    height: 700px;
    width: 100%;
}


.btn-2{
    background-color: #469165;
    border: none;
    padding: 16px 46px 16px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    /* margin-left: 300px; */
    margin: 36px 05px;
    gap: auto;
    }
.btn-3{
    border: 1px solid white;
    padding: 22px 17px 17px 46px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 36px 05px;
    gap: auto;
    box-sizing: border-box;
    background: transparent;
}

.section-2{
    margin-top: 700px;
}


.card-headign h2{
    font-size: 48px;
    text-align: center;
    color: #001931;
}
.card-headign p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    margin-bottom: 44px;
}

.skill-box .skill-card{
  padding: 30px;
  max-width: 267px;
   

}

.skill-card h3{
  font-size: 24px;
  color: #001931;
  margin-bottom: 20px;
}
.skill-card p{
    color: #627382;
    font-size: 16px;
    text-align: center;
}
.skill-box img{
    background-color: #F95555;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.skill-box{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    gap: 10px;
}
.skill-box .skill-card{
  padding: 30px;
  /* max-width: 267px; */
  box-shadow: 0 6px 50px 0 #00000027; 
  border-radius: 15px;
  gap: 16px;
  justify-content: center;
  margin-bottom:70px;
  }

  .skill-card{
    text-align: center;

  }

  .brain .brain-station{
    display: flex;
    align-items: center;
  }

  .brain{
    margin: 120px;
    margin-bottom: 120px;
  }
  .brain .prh{
    color: #30B868;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .brain .brain-container h2{
    font-size: 48px;
    font-style: bold;
    color: #001931;
    line-height: 58px;
    margin-bottom: 10px;
  }
  .brain .br{
    color: #627382;
    font-size: 16px;
    margin-bottom: 30px;

  }

  .foot{
    background-color: #F7F6F2;
    align-items: center;
    text-align: center;
    margin: 120px;
    padding: 80px 40px;
  }

  .foot h2{
    font-size: 40px;
    color: #001931;
    margin-bottom: 10px;
  }

  .box{
    margin-top:0px;
    margin-bottom: 0px;
    
  }

  .foot p{
    color: #627382;
    font-size: 16px;
  }
  .box pr{
    margin: 0;
  }

  .footer-container{
    background-color: #001931;
    display: flex;
    justify-content: space-between;
  }
  .footer .content{
    color: #FFFFFF;
    display: flex;
  }
  .icon{
    color: #FFFFFF;
  }

  .footer p{
    color: #F7F6F2;
    
  }
  .footer-container{
    
    display: flex;
  }